*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 45%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  background: #221A15; }

.container {
  background: #221A15;
  display: grid;
  grid-template-columns: repeat(14, minmax(min-content, 12rem)); }
  @media only screen and (max-width: 56.25em) {
    .container {
      display: block; } }

.header {
  grid-column: 2/9;
  display: flex;
  align-items: baseline;
  margin: 2rem; }

.logo {
  color: #fff;
  font-family: "Purple Purse", cursive;
  font-size: 4.4rem;
  height: 5.5rem;
  margin-right: 20rem; }
  @media only screen and (max-width: 75em) {
    .logo {
      margin-right: 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .logo {
      margin-right: auto; } }
  .logo span {
    color: #fff; }

.nav {
  width: 41rem; }
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        margin-left: 7rem; } }
  .nav__item {
    list-style: none; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff; }
    .nav__link:link:hover, .nav__link:visited:hover {
      color: #B99292;
      border-bottom: 1px solid currentColor;
      padding-bottom: 1rem; }

.collection {
  grid-column: 2/10;
  color: #E5E5E5;
  margin-top: 13rem;
  margin-left: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .collection {
      text-align: center;
      margin-left: 8rem;
      margin-right: 8rem; } }
  @media only screen and (max-width: 35.43em) {
    .collection {
      margin-left: 4rem;
      margin-right: 4rem;
      font-size: 3.5rem; } }
  .collection__header {
    font-size: 5rem;
    color: #EBD9D9;
    font-weight: 900; }
    @media only screen and (max-width: 75em) {
      .collection__header {
        font-size: 4.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .collection__header {
        font-size: 5.6rem; } }
  .collection__text {
    width: 50rem;
    font-size: 3.4rem;
    font-weight: 300; }
    @media only screen and (max-width: 75em) {
      .collection__text {
        font-size: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .collection__text {
        width: 100%;
        font-size: 4rem; } }
  .collection__cta {
    margin-top: 3rem;
    background-color: #C7A6A6;
    padding: 1.5rem 5rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    transition: all .2s;
    cursor: pointer; }
    .collection__cta a {
      text-decoration: none;
      color: #000;
      font-size: 2.3rem; }
    .collection__cta:hover {
      background-color: #B99292;
      transform: scale(0.97); }

.spring {
  grid-column: 11/-1;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .spring {
      margin: 3rem 30rem; } }
  @media only screen and (max-width: 35.43em) {
    .spring {
      margin: 3rem 15rem; } }
  .spring__svg {
    position: absolute;
    width: 566.65px;
    height: 50rem;
    left: -320px;
    top: 100px;
    z-index: 100; }
    @media only screen and (max-width: 75em) {
      .spring__svg {
        height: 40rem; } }
    @media only screen and (max-width: 35.43em) {
      .spring__svg {
        height: 35rem; } }
  .spring__img {
    width: 57.4rem;
    height: 80rem;
    z-index: 90; }
  .spring__photo {
    width: 100%;
    height: 100%; }

.model {
  grid-column: 2/6;
  grid-row: 3/3;
  position: relative;
  top: -16.8rem;
  margin-left: 3rem; }
  .model__photo {
    filter: sepia(1);
    transition: all .2s linear; }
    .model__photo:hover {
      filter: sepia(0); }
    @media only screen and (max-width: 75em) {
      .model__photo {
        height: 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .model {
      top: -10rem;
      margin-left: 0; } }
  @media only screen and (max-width: 35.43em) {
    .model {
      margin-left: 10rem; } }

.model__img {
  display: flex;
  z-index: 100;
  position: absolute; }

.circle__text {
  z-index: 90;
  position: absolute;
  top: -14rem;
  left: 43rem;
  animation: circle-animation 2s infinite; }
  @media only screen and (max-width: 75em) {
    .circle__text {
      height: 18rem;
      left: 33rem; } }

@keyframes circle-animation {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(0); } }

@media only screen and (max-width: 56.25em) {
  canvas {
    height: 70% !important;
    width: 70% !important; } }

@media only screen and (max-width: 35.43em) {
  canvas {
    position: relative;
    left: -10%; } }
